html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.menubar {
    width: 20%;
    height: 720px;
    margin: 25px;
    border-radius: 30px;
    background-image: url("images/menubackground.jpg");
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.menubar:hover {
    box-shadow: #00aeff 0px 0px 10px 10px;
}

.content {
    background-image: url("images/menubackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 720px;
    margin: 30px 30px 30px 10px;
    border-radius: 30px;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.content:hover {
    box-shadow: #00bfff 0px 0px 10px 10px;
}

.fwdbwdbtn {
    text-align: center;
}

#forwardbtn, #backwardbtn {
    height: 30px;
    margin-top: 30px;
    color: #090000;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: none;
    transition: background 0.3s;
}

#forwardbtn:hover, #backwardbtn:hover {
    background-color: #00bfff;
}

.slideshow-container {
    position: relative;
    width: 98%;
    height: 97%;
    overflow: hidden;
}

.mySlides {
    position: absolute;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
}

#menuheader {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

.menulist {
    max-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
    margin: 50px 20px;
}

.menulist::-webkit-scrollbar {
    width: 5px;
}

.menulist::-webkit-scrollbar-thumb {
    background: #0080bb;
    border-radius: 5px;
}

.menulist li {
    width: 150px;
    border-radius: 20px;
    list-style: none;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
}

.menulist li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menulist li:hover {
    background-color: #0080bb;
    transform: scale(1.1);
    transition-duration: 1s;
}

.contact-container {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 100%;
    border-radius: 30px;
}

.contact-container h2 {
    color: #6045ea;
}

.contact-container input, textarea {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-container button {
    width: 50%;
    margin: 20px;
    padding: 10px;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    transition: background 0.3s;
}

.contact-container button:hover {
    background: #0056b3;
}

